.background_top{
    background-color:#f6f7f9;
    width: 100%;
    height: 100px;
    display: flex;
}

.header_left{
    font-size: 53px;
    margin-left: 30px;
    margin-top: 25px;
}

.header_right{
    justify-content: space-between;
    margin-left: auto;
    margin-top: 25px;
    margin-right: 25px;
}

.header_right_tel{
    font-size: 40px;
    color: #f74d95;


}

.header_right_time{
    font-weight: bold;
    font-size: 21px;
    margin-left: 30px;
}

/* section */
.top{
    background-color:#f6f7f9;
    width: 100%;
    height: 500px;
}

.english_logo{
    font-size: 70px;
    font-family: "Southpaw";
    margin-left: 80px;
    transform: rotate(-8deg);
    color:#e9eaec;
    z-index: 1;
}

.text_1{
    margin-left: 228px;
    z-index: auto;
    color:#ff66a7;
    font-size: 42px;
}

.text_2{
    margin-left: 228px;
    z-index: auto;
    font-size: 90px;
    font-weight: 600;
    color: #f6c315;
    background: -webkit-linear-gradient(0deg,#f6c315,#ff67a7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text_3{
    margin-left: 228px;
    font-size: 23px;
}

.text_4{
    margin-left: 228px;
    padding-top: 42px;
    color: #ff66a7;
    font-size: 33px;
    font-style:oblique;
    font-weight: 500;
}

.text_4 span{
    font-size: 40px;
    font-weight: 600;
}

.text_5{
    margin-left: 228px;
    color: #ff66a7;
    font-size: 33px;
    font-style:oblique;
}

.circle{
    width: 100px;
    height: 100px;
    margin-left: 100px;
    margin-top: 50px;
}